/data-stored/
/data-logs/
*.jar
/target/*
/app/
*/target
target
/target/
*/target/*
./spark/spark-barch-queries/target/*/*
./spark/spark-barch-queries-sql/target/*/*
.vscode/
.idea/
.idea
.idea/*
/venv/
*/venv/*
/venv/*
venv/*
venv/
